<% @coins.each do |coin| %>
  <div class="col-sm-3 coin-card ">


      <span class="coin-card-title bottom-line"><%=coin.name %></span>
      <span>
        <div class="coin-card-last_update">
          Last Update
        </div>
      <div class="coin-card-last_update">
          <%=coin.last_price_update.strftime("%Y-%m-%d %H:%M:%S") %>

      </div>
      <div class="coin-card-price">
        <strong>
           <%=number_to_currency(coin.last_price) %>
         </strong>

      </div >





  </div>

<% end %>
